.kate-ui-progress-container {
  background: var(--color-background);
  border-radius: 5px;
  box-shadow: 0px 0px 3px var(--color-shadow);
  max-width: 560px;
  min-width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
