.kate-os-home {
  display: flex;
  flex-direction: column;
  background: var(--color-background);
  height: 100%;
  animation: kate-os-fade-in 0.25s ease-in;
}

.kate-os-carts-scroll {
  overflow: hidden;
  padding: 5px 0;
  scroll-behavior: smooth;
  scroll-padding: 30px;
  background: url("../../../img/kate-chan-muted.png") no-repeat fixed;
  background-size: 40%;
  background-position-x: 560px;
  background-position-y: 150px;
  flex-grow: 1;
}

.kate-os-carts {
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.kate-os-carts > .kate-ui-interactive:last-child {
  padding-right: 20px;
}

.kate-os-carts-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 182px;
}

.kate-os-carts-image {
  width: 182px;
  height: 317px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0px solid transparent;
  transition: all 0.1s ease-out;
  border: 1px solid var(--color-border);
  position: relative;
}

.focus .kate-os-carts-box .kate-os-carts-image {
  outline: 2px solid var(--color-primary);
  border: 1px solid transparent;
  border-radius: 4px;
  transform: scale(1.04);
  animation: kate-focus-in 0.5s ease-out;
}

.kate-os-carts-image img {
  width: 100%;
  height: auto;
}

.kate-os-carts-title {
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  white-space: nowrap;
  opacity: 0;
  text-shadow: -1px -1px 2px white, 1px 1px 2px white;
}

.focus .kate-os-carts-box .kate-os-carts-title {
  opacity: 1;
  animation: kate-os-fade-in 0.25s ease-out;
}

.kate-os-carts-scroll {
  position: relative;
}

.kate-os-quickstart {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.kate-os-quickstart-title {
  font-family: var(--font-family-title);
  font-size: 2rem;
  line-height: 100%;
  margin: 0.5em 0;
  margin-top: -2rem;
}

.kate-os-quickstart-description {
  color: var(--color-text-muted);
  white-space: pre-wrap;
  font-size: 1.25rem;
  line-height: 1.5em;
  text-align: center;
}

.kate-os-quickstart tt {
  font-family: var(--font-family-mono);
  background: var(--color-white-d1);
  padding: 2px 6px;
  border-radius: 2px;
  vertical-align: baseline;
  margin-bottom: 6px;
  font-size: 0.85em;
}

.kate-os-quickstart-description > * {
  display: inline-block;
  vertical-align: middle;
}

.kate-os-carts-release-type {
  position: absolute;
  top: -15px;
  right: -40px;
  transform: rotate(45deg);
  transform-origin: 0 0;
  background: var(--blue);
  color: var(--color-white);
  font-size: 9px;
  width: 75px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}

.kate-os-carts-release-type[data-release-type="regular"] {
  display: none;
}

.kate-os-carts-rating {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: var(--color-black);
  color: var(--color-white);
  font-weight: bold;
  font-size: 14px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

.kate-os-carts-rating[data-rating="general"] {
  background: var(--green);
  display: none;
}

.kate-os-carts-rating[data-rating="teen-and-up"] {
  background: var(--blue);
}

.kate-os-carts-rating[data-rating="mature"] {
  background: var(--orange);
}

.kate-os-carts-rating[data-rating="explicit"] {
  background: var(--red);
}
