node_modules/
build/
*.tsbuildinfo
*.d.ts
*.kart
*.lingua.crochet
.binary/
www/kate.js
www/kate-os.js
www/app.js
!types/kate-api/kate-api.d.ts
packages/kate-bridges/source/index.ts
examples/boon-scrolling/**/*.js
packages/kate-domui/source/assets.ts
packages/schema/**/*.js
design/
ignore/