node_modules
color
design
experiments
source/**/*.js
*.tsbuildinfo
old-tree
*.lingua.crochet
.binary/
source/kate-bridges/index.ts
www/kate.js
www/kate-os.js
www/app.js
/games
build/
projects/
source/kate-domui/assets.ts
*.d.ts
!types/kate-api/kate-api.d.ts
