node_modules/
build/
*.tsbuildinfo
*.d.ts
*.kart
*.lingua.crochet
.binary/
www/kate/kate-latest.js
www/kate/RELEASE-latest.txt
www/kate-os.js
www/app.js
www/native-api.js
!types/kate-api/kate-api.d.ts
packages/kate-bridges/source/index.ts
examples/boon-scrolling/**/*.js
packages/kate-domui/source/assets.ts
packages/schema/**/*.js
/design/
ignore/
dist/
asset-source
packages/kate-desktop/app
packages/kate-tools/packaging
examples/katchu/www/katchu.js
www/loader.js
electron/
!packages/kate-desktop/source/electron.d.ts
.cache
www/worker.js
www/cache-manifest.json
ecosystem/importer/www
packages/kate-appui/assets/fonts
.vscode
tests/unit/test-assert.js