/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.kate-ui-mono-block {
  overflow: auto;
  padding: 0.5rem;
  background: var(--color-cream-c);
  border: 5px;
  font-family: var(--font-mono);
  font-size: 0.9em;
  white-space: pre;
}
