/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.kate-ui-steps {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 0;
  gap: 1rem;
}

.kate-ui-steps.with-action-slot {
  padding: 0;
}

.kate-ui-steps-content {
  flex-grow: 1;
}

.kate-ui-step-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  flex-shrink: 0;
}

.kate-ui-step-view {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.kate-ui-step-actions > * {
  flex-basis: 33%;
}

.kate-ui-step-next {
  display: flex;
  justify-content: right;
}

.kate-ui-step-icon {
  width: 8px;
  height: 8px;
  background: var(--color-steps-inactive);
  border-radius: 100%;
}

.kate-ui-step-icon.active {
  background: var(--color-steps-active);
}
