.kate-screen {
  /* palette is Pollen8 by Conker : https://lospec.com/palette-list/pollen8 */
  --color-primary-d2: #73464c;
  --color-primary-d1: #ab5675;
  --color-primary: #ee6a7c;
  --color-primary-l1: #ffa7a5;
  --color-primary-l2: #ffe7d6;
}
