/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.kate-os-game {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--color-black);
}

.kate-os-game::before {
  content: "Loading...";
  color: var(--color-white);
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  bottom: 25px;
  right: 25px;
  transform: scale(var(--screen-scale));
  transform-origin: 100% 100%;
  animation: kate-os-fade-out 0.25s ease-in forwards;
  animation-delay: 0.5s;
}

.kate-os-game .kate-game-frame {
  position: relative;
  opacity: 0;
  animation: kate-os-fade-in 0.25s ease-in forwards;
  animation-delay: 0.25s;
}

.kate-os-game-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
