/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.gamepad-choose-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0;
}

.gamepad-choose-settings > .kate-ui-dynamic {
  width: 100%;
}

.gamepad-choose-message {
  display: flex;
  gap: 0.5em;
  font-size: 1.25rem;
}

.gamepad-choose-paired {
  display: flex;
  gap: 2rem;
  justify-content: center;
  border: 2px solid var(--color-border-d1);
  border-width: 2px 0;
}

.gamepad-choose-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 150px;
  font-size: 1.5rem;
  color: var(--color-text-muted);
}

.gamepad-choose-controller-port {
  font-size: 1rem;
}

.gamepad-choose-controller[data-active] {
  color: var(--color-primary);
}

.gamepad-choose-controller i {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.gamepad-choose-controller-name {
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 32px;
}
