/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.kate-os-keyboard-mapping-feedback {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

.kate-os-keyboard-mapping-feedback input {
  border: 0;
  outline: 0;
  font-size: 2rem;
  font-family: var(--font-family-sans);
  width: 10px;
  padding: 0;
  margin: 0;
  background: none;
}

.kate-os-keyboard-mapping-feedback.focus {
  outline: 2px solid var(--color-primary);
  border-radius: 2px;
}

.kate-os-keyboard-mapping-button-grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.kate-os-button-mapping {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.kate-os-button-mapping .kate-icon {
  font-size: 30px;
}

.kate-os-button-mapping.focus {
  outline: 2px solid var(--color-primary);
  border-radius: 2px;
}

.kate-os-button-mapping .kate-icon {
  opacity: 0.4;
}

.kate-os-button-mapping.active .kate-icon {
  opacity: 1;
}
