.kate-wireframe {
  width: 400px;
  height: 250px;
  border: 4px solid var(--color-border-d1);
  border-radius: 20px;
  position: relative;
}

.kate-wireframe-dpad {
  border: 2px solid var(--color-border-d1);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 25px;
  left: 15px;
}

.kate-wireframe-shoulder {
  width: 150px;
  height: 25px;
  background: var(--color-border-d1);
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: -30px;
}

.kate-wireframe-shoulder-right {
  right: 10px;
}

.kate-wireframe-shoulder-left {
  left: 10px;
}

.kate-wireframe-special {
  width: 50px;
  height: 20px;
  background: var(--color-border-d1);
  border-radius: 50px;
  position: absolute;
  top: 190px;
}

.kate-wireframe-special-left {
  left: 125px;
  rotate: 27deg;
}

.kate-wireframe-special-right {
  right: 125px;
  rotate: -27deg;
}

.kate-wireframe-buttons {
  width: 150px;
  height: 80px;
  rotate: -45deg;
  border: 2px solid var(--color-border-d1);
  border-radius: 80px;
  position: absolute;
  right: 15px;
  top: 125px;
  transform-origin: 0 0;
}

.kate-wireframe-dpad-button {
  width: 40px;
  height: 40px;
  background: var(--color-border-d1);
  position: absolute;
}

.kate-wireframe-dpad-up {
  top: 15px;
  left: 50%;
  translate: -50% 0;
}

.kate-wireframe-dpad-right {
  right: 15px;
  top: 50%;
  translate: 0 -50%;
}

.kate-wireframe-dpad-down {
  bottom: 15px;
  left: 50%;
  translate: -50% 0;
}

.kate-wireframe-dpad-left {
  left: 15px;
  top: 50%;
  translate: 0 -50%;
}

.kate-wireframe-button {
  width: 60px;
  height: 60px;
  background: var(--color-border-d1);
  border-radius: 100%;
  position: absolute;
}

.kate-wireframe-button-x {
  top: 8px;
  left: 10px;
}

.kate-wireframe-button-o {
  top: 8px;
  right: 10px;
}
