/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.kate-os-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  background: var(--color-black);
}

.kate-os-logo-image {
  font-family: var(--font-family-title);
  font-size: 128px;
  color: var(--color-white);
  opacity: 0;
  animation: kate-os-fade-in 1s ease-in forwards;
  text-align: center;
}

.kate-os-boot-message {
  font-family: var(--font-family-sans);
  font-weight: 500;
  font-size: 20px;
  height: 64px;
  padding: 0 100px;
  text-align: center;
  vertical-align: center;
}
