.kate-ui-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-border);
  padding-bottom: 1rem;
}

.kate-ui-section-heading {
  font-family: var(--font-family-title);
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0.2rem 0;
}

.kate-ui-stack-bar-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.kate-ui-stack-bar {
  background: var(--color-border-d1);
  height: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
}

.kate-ui-stack-bar-component {
  height: 100%;
  width: calc(var(--stack-bar-size) * 100%);
  background: var(--stack-bar-color);
  flex-shrink: 1;
}

.kate-ui-stack-bar-legend {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.kate-ui-stack-bar-legend-item::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--stack-bar-color);
  border-radius: 100%;
  vertical-align: baseline;
  margin-right: 0.3rem;
}
