.kate-os-content {
  padding: 1rem;
}

.kate-os-content h2 {
  font-family: var(--font-family-title);
  font-size: 2.5rem;
  line-height: 1.8em;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  margin: 1.5rem 0 0 0;
}

.kate-os-content h2:first-child {
  margin-top: 0;
}

.kate-os-content .kt-meta {
  color: var(--color-muted);
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-top: -0.5rem;
}

.kate-os-content .kt-picture {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kate-os-content .kt-picture img {
  width: 100%;
  height: auto;
}

.kate-os-content .kt-padding {
  padding: 2rem;
}

.kate-os-content .kate-ui-button {
  text-transform: uppercase;
  font-weight: 500;
  padding: 1em 2em;
  border: 2px solid var(--color-border-d1);
  border-radius: 4px;
  color: var(--color-text);
  width: 100%;
  text-align: center;
}

.kate-os-content .kate-ui-button.focus {
  background: var(--color-primary);
  color: var(--color-text-inverted);
  border-color: var(--color-primary);
}

.kate-ui-interactive.focus:not([data-custom-focus]) {
  outline: 2px solid var(--color-primary);
  border-radius: 4px;
  animation: kate-focus-in 0.5s ease-out;
}

.kate-ui-interactive.focus:not([data-custom-focus])[data-dangerous] {
  outline-color: var(--color-dangerous);
}

.kate-ui-interactive.focus .kate-ui-text-button {
  background: var(--color-primary);
  color: var(--color-text-inverted);
  border-color: var(--color-primary);
  border-radius: 0;
}

.kate-os-screen .kate-ui-button-panel {
  color: var(--color-text);
  padding: 1rem;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  position: relative;
}

.focus .kate-ui-button-panel {
  border: 0;
}

.kate-ui-button-panel[data-dangerous] {
  color: var(--color-dangerous);
  padding-left: 2em;
}

.kate-ui-button-panel[data-dangerous]::before {
  content: "DANGER";
  font-size: 0.7em;
  font-weight: 500;
  color: var(--color-text-inverted);
  background: var(--color-dangerous);
  height: 100%;
  padding: 0.3em;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  box-sizing: border-box;
  letter-spacing: 0.1em;
}

.kate-ui-button-panel-title {
  font-weight: 500;
}

.kate-ui-button-panel-description {
  font-size: 0.9em;
  color: var(--color-text-muted);
}
