.kate-screen {
  --font-family-title: "Poppins", sans-serif;
  --font-family-sans: "Roboto", sans-serif;
  --font-family-mono: "Roboto Mono", monospace;

  --color-white: #fafafa;
  --color-white-d1: #ececea;
  --color-white-d2: #dcdcda;
  --color-black: #2f2f2f;
  --color-black-l1: #5f5f5f;
  --color-black-l2: #9f9f9f;

  --color-primary-d2: #1f1f1f;
  --color-primary-d1: #3f3f3f;
  --color-primary: #5f5f5f;
  --color-primary-l1: #dcdcda;
  --color-primary-l2: #ececea;

  --color-button-primary: #5f5f5f;
  --color-button-primary-text: #fafafa;

  --color-text: var(--color-black);
  --color-text-inverted: var(--color-white);
  --color-text-muted: var(--color-black-l1);
  --color-text-very-muted: var(--color-black-l2);
  --color-border: var(--color-white-d1);
  --color-border-d1: var(--color-white-d2);
  --color-background: var(--color-white);
  --color-dangerous: var(
    --color-primary-d1
  ); /* TODO: pick better primary/dangerous */
  --color-backdrop: rgba(0, 0, 0, 0.4);
  --color-shadow: rgba(0, 0, 0, 0.5);
  --color-status-background: var(--color-primary-d1);
  --color-duration-background: var(--color-primary-d1);

  font-family: var(--font-family-sans);
  font-size: 16px;
  color: var(--color-black);
}

#kate-os-root {
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--screen-width);
  height: var(--screen-height);
}

.kate-os-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--screen-width);
  height: var(--screen-height);
  overflow: hidden;
}

.kate-os-screen.upscaled {
  width: var(--base-screen-width);
  height: var(--base-screen-height);
  transform: scale(var(--screen-scale));
  transform-origin: 0 0;
}

.kate-hud {
  position: absolute;
}

.kate-os-entering {
  animation: kate-os-fade-in 0.2s ease-out forwards;
}

.kate-os-leaving {
  animation: kate-os-fade-out 0.2s linear forwards;
}
