/* #Widget: title bar */
.kate-ui-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 18px;
  height: 64px;
}

.kate-ui-title-bar-child {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.kate-ui-title-bar-child:first-child {
  justify-content: left;
  margin-left: 16px;
}

.kate-ui-title-bar-child:last-child:not(:first-child) {
  justify-content: right;
  margin-right: 16px;
}

.kate-ui-section-title {
  font-family: var(--font-family-title);
  font-size: 36px;
  font-weight: 300;
  line-height: 1.8em;
}

.kate-ui-menu-list {
  display: flex;
  flex-direction: column;
}

.kate-ui-menu-list > .kate-ui-button {
  border-bottom: 1px solid var(--color-border);
  padding: 0 16px;
  font-size: 20px;
  height: 48px;
}

.kate-ui-menu-list > .kate-ui-button.focus {
  background: var(--color-primary);
  color: var(--color-text-inverted);
  font-weight: 500;
}

/* #Core widgets */
.kate-ui-vbox {
  display: flex;
  flex-direction: column;
}

/* #Focusable container */
.kate-ui-focusable-container.focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
  border-radius: 4px;
  animation: kate-focus-in 0.5s ease-out;
}

/* #Info line */
.kate-ui-info-line {
  border-bottom: 1px solid var(--color-border);
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kate-ui-info-line-label {
  font-weight: 500;
}

.kate-ui-info-line-data {
  color: var(--color-text-muted);
}

/* #Legible bg */
.kate-ui-legible-bg {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5);
}

/* #Link */
.kate-ui-button-link {
  text-decoration: none;
}

.kate-ui-button-link.focus {
  outline: 2px dashed var(--color-primary);
  outline-offset: 2px;
}

/* #Link card */
.kate-ui-link-card {
  padding: 1em;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-border);
}

.kate-ui-link-card.focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 1px;
}

.kate-ui-link-card-icon {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kate-ui-link-card-arrow {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-very-muted);
}

.kate-ui-link-card-text,
.kate-ui-text-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.kate-ui-link-card-title,
.kate-ui-text-panel-title {
  font-weight: 500;
}

.kate-ui-text-panel-title em {
  color: var(--color-primary);
  font-weight: normal;
}

.kate-ui-link-card-description,
.kate-ui-text-panel-description {
  color: var(--color-text-muted);
  font-size: 0.9em;
  font-weight: normal;
}

/* #Toggle */
.kate-ui-toggle-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.kate-ui-toggle-container.focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 1px;
}

.kate-ui-toggle-view {
  position: relative;
  width: 64px;
  height: 36px;
  background: var(--color-border-d1);
  border-radius: 32px;
}

.active .kate-ui-toggle-view {
  background: var(--color-primary);
}

.kate-ui-toggle-bullet {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: var(--color-background);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  transition: left 0.1s ease-out;
}

.active .kate-ui-toggle-bullet {
  left: 30px;
}

.kate-ui-toggle-label-yes,
.kate-ui-toggle-label-no {
  width: 64px;
  text-transform: uppercase;
  font-weight: 500;
  display: none;
}

.kate-ui-toggle-container:not(.active) .kate-ui-toggle-label-no,
.active .kate-ui-toggle-label-yes {
  display: block;
}

/* #Divider */
.kate-ui-vertical-divider {
  margin: 1.5em 0;
  height: 1px;
  background: var(--color-border);
}

.kate-ui-padded-container[data-padding="s"] {
  padding: 0.5rem;
}

.kate-ui-padded-container[data-padding="1x"] {
  padding: 1rem;
}

.kate-ui-padded-container[data-padding="lg"] {
  padding: 1.5rem;
}

.kate-ui-padded-container[data-padding="2x"] {
  padding: 2rem;
}

.kate-ui-padded-container[data-padding="3x"] {
  padding: 3rem;
}

.kate-ui-padded-container[data-padding="4x"] {
  padding: 4rem;
}
