* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
}

.window {
  width: 800px;
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  background: #ececea;
}

.title {
  font-size: 64px;
  font-weight: bold;
  font-family: Lora, serif;
  color: #2f2f2f;
}

#message {
  font-family: Verdana, sans-serif;
  white-space: pre-wrap;
  text-align: center;
  font-size: 24px;
  color: #4f4f4f;
}
