@keyframes kate-os-fade-in-out {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes kate-os-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes kate-slide-in-left {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes kate-hud-notification-in {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes kate-hud-notification-out {
  from {
    opacity: 1;
    top: 0px;
  }
  to {
    opacity: 0;
    top: -50px;
  }
}

.kate-screen {
  --font-family-title: "PT Sans Caption", sans-serif;
  --font-family-serif: "Lora", serif;
  --font-family-sans: "Roboto", sans-serif;
  --font-family-mono: "Source Code Pro", monospace;

  font-family: var(--font-family-sans);
  font-size: 16px;
  color: #2f2f2f;
}

#kate-os-root {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 480px;
}

#kate-os-root.in-background {
  display: none;
}

.kate-os-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 480px;
}

/* reset */
.kate-os-screen button {
  border: none;
  background: none;
  outline: none;
  text-align: left;
  font-family: var(--font-family-sans);
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* common screens */
.kate-os-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.kate-os-logo-image {
  font-family: var(--font-family-serif);
  font-size: 128px;
  color: #fafafa;
  opacity: 0;
  animation: kate-os-fade-in-out 2s ease-in-out;
}

.kate-os-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fafafa;
  height: 100%;
  animation: kate-os-fade-in 0.25s ease-in;
}

.kate-os-carts-scroll {
  overflow: hidden;
  padding: 5px 0;
  margin-top: -5px;
  scroll-behavior: smooth;
  scroll-padding: 30px;
  padding-right: 250px;
}

.kate-os-carts {
  margin: 10px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  padding-right: 800px;
}

.kate-os-carts-box {
  width: 200px;
  height: 380px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kate-os-carts-image {
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0px solid transparent;
  transition: all 0.1s ease-out;
  border: 1px solid #ececea;
}

.focus .kate-os-carts-box .kate-os-carts-image {
  outline: 5px solid #69c;
  border: 2px solid #fafafa;
  transform: scale(1.04);
}

.kate-os-carts-image img {
  width: 100%;
  height: auto;
}

.kate-os-carts-title {
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  white-space: nowrap;
  opacity: 0;
}

.focus .kate-os-carts-box .kate-os-carts-title {
  opacity: 1;
  animation: kate-os-fade-in 0.25s ease-out;
}

/* HUDs */
.kate-hud {
  position: absolute;
}

.kate-os-hud-context-menu {
  position: absolute;
}

.kate-os-hud-context-menu-backdrop {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 800px;
  height: 480px;
  backdrop-filter: blur(5px);
}

.kate-os-hud-context-menu-content {
  position: absolute;
  left: 0px;
  top: 0px;
  border-right: 1px solid #ececea;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5);
  background: rgba(252, 252, 252, 0.9);
  width: 250px;
  height: 480px;
  padding: 25px 5px;
  animation: kate-slide-in-left 0.2s ease-out;
}

.kate-hud-notifications {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 300px;
  max-height: 460px;
  overflow: hidden;
  z-index: 9;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.kate-hud-notification-item {
  position: relative;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(252, 252, 252, 0.9);
  backdrop-filter: blur(5px);
  animation: kate-hud-notification-in 0.2s ease-out;
  border: 1px solid #bcbcba;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.kate-hud-notification-item.leaving {
  animation: kate-hud-notification-out 0.1s ease-in;
  opacity: 0;
  top: -50px;
}

.kate-hud-notification-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5em;
}

.kate-hud-drop-installer {
  position: absolute;
  margin: 5px;
  width: 790px;
  height: 470px;
  border: 10px dashed #ececea;
  border-radius: 20px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: #4f4f4f;
  display: none;
  background: rgba(255, 255, 255, 0.8);
}

.kate-hud-drop-installer.active {
  display: flex;
  animation: kate-os-fade-in 0.1s ease-out;
}

/* kate UI */
.kate-os-screen .kate-ui-menu-list {
  display: flex;
  flex-direction: column;
}

.kate-ui-menu-list > .kate-ui-button {
  border-bottom: 1px solid #ececea;
  border-left: 10px solid transparent;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}

.kate-ui-menu-list > .kate-ui-button.focus {
  border-left: 10px solid #69c;
  font-weight: bold;
}

.kate-ui-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcda;
  font-size: 24px;
  height: 64px;
}

.kate-ui-title-bar-child {
  flex-grow: 1;
  width: 100%;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.kate-ui-title-bar-child:first-child {
  justify-content: left;
  margin-left: 15px;
}

.kate-ui-title-bar-child:last-child:not(:first-child) {
  justify-content: right;
  margin-right: 15px;
}

.kate-ui-section-title {
  font-family: var(--font-family-title);
  font-size: 32px;
  font-weight: bold;
  line-height: 1.8em;
}

.kate-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  color: #4f4f4f;
}

.kate-icon img {
  width: 1em;
  height: 1em;
}

.kate-icon-light img {
  filter: invert(1);
}

.kate-icon[data-name="x"],
.kate-icon[data-name="o"] {
  background: #4f4f4f;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kate-icon[data-name="x"] img,
.kate-icon[data-name="o"] img {
  width: 0.8em;
  height: 0.8em;
}

.kate-icon[data-name="ltrigger"],
.kate-icon[data-name="rtrigger"] {
  background: #4f4f4f;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kate-icon[data-name="ltrigger"]::before,
.kate-icon[data-name="rtrigger"]::before {
  font-size: 0.6em;
  font-weight: bold;
  font-family: var(--font-family-sans);
  color: #fafafa;
}

.kate-icon[data-name="ltrigger"] {
  border-top-left-radius: 0.5em;
}

.kate-icon[data-name="ltrigger"]::before {
  content: "L";
}

.kate-icon[data-name="rtrigger"] {
  border-top-right-radius: 0.5em;
}

.kate-icon[data-name="rtrigger"]::before {
  content: "R";
}

.kate-icon[data-name="menu"] {
  border: 1px solid #4f4f4f;
  height: 0.3em;
  border-radius: 0.5em;
  width: 1em;
  transform: rotate(27deg);
}

.kate-icon[data-name="capture"] {
  background: #4f4f4f;
  height: 0.3em;
  border-radius: 0.5em;
  width: 1em;
  transform: rotate(-27deg);
}

.kate-hud-load-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 25px;
  background: #2f2f2f;
  color: #fafafa;
  font-size: 24px;
  font-weight: bold;
  animation: kate-os-fade-in 0.1s ease-out;
}

.kate-hud-status-bar {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #fafafa;
  background: #2f2f2f;
  border-top-left-radius: 24px;
  justify-content: right;
  align-items: center;
  padding: 0px 20px;
  max-width: 400px;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
  transition: width 0.1s ease-out;
}

.kate-hud-status-bar.active {
  display: flex;
}

.kate-hud-status-item {
  display: none;
}

.kate-hud-status-item.active {
  display: block;
}

.kate-hud-dialog-message {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.kate-hud-dialog-container {
  background: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  max-width: 70%;
}

.kate-hud-dialog-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: var(--font-family-title);
  border-bottom: 1px solid #ececea;
  padding: 0.5em;
}

.kate-hud-dialog-text {
  padding: 2em 1em;
  text-align: left;
}

.kate-hud-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  border-top: 1px solid #ececea;
  background: #ececea;
}

.kate-hud-dialog-action {
  width: 100%;
  flex-grow: 1;
}

.kate-hud-dialog-action .kate-ui-button {
  border: none;
  background: none;
  font-family: var(--font-sans-serif);
  font-size: 0.9rem;
  width: 100%;
  display: block;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.kate-hud-dialog-action[data-kind="primary"] {
  background: #69c;
  color: #fafafa;
}

.kate-hud-dialog-action[data-kind="dangerous"] {
  background: #c55;
  color: #fafafa;
}

.kate-hud-dialog-action .kate-ui-button.focus {
  outline: 3px solid #69c;
  outline-offset: 1px;
  position: relative;
  z-index: 1;
}
