@keyframes kate-os-fade-in-out {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes kate-os-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes kate-os-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes kate-slide-in-left {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes kate-os-pop-menu-in {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes kate-os-pop-menu-out {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: -200px;
    opacity: 0;
  }
}

@keyframes kate-hud-notification-in {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes kate-hud-notification-out {
  from {
    opacity: 1;
    top: 0px;
  }
  to {
    opacity: 0;
    top: -50px;
  }
}

.kate-screen {
  --font-family-title: "Poppins", sans-serif;
  --font-family-sans: "Roboto", sans-serif;
  --font-family-mono: "Roboto Mono", monospace;

  --color-white: #fafafa;
  --color-black: #2f2f2f;
  --color-grey: #ececea;
  --color-dark-grey: #dcdcda;

  /* palette is Pollen8 by Conker : https://lospec.com/palette-list/pollen8 */
  --color-primary-d2: #73464c;
  --color-primary-d1: #ab5675;
  --color-primary: #ee6a7c;
  --color-primary-l1: #ffa7a5;
  --color-primary-l2: #ffe7d6;

  --color-text: var(--color-black);
  --color-text-inverted: var(--color-white);
  --color-border: var(--color-grey);
  --color-border-d1: var(--color-dark-grey);
  --color-background: var(--color-white);
  --color-dangerous: var(
    --color-primary-d1
  ); /* TODO: pick better primary/dangerous */
  --color-backdrop: rgba(0, 0, 0, 0.4);
  --color-shadow: rgba(0, 0, 0, 0.5);
  --color-status-background: var(--color-primary-d1);
  --color-duration-background: var(--color-primary-d1);

  font-family: var(--font-family-sans);
  font-size: 16px;
  color: var(--color-black);
}

#kate-os-root {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 480px;
}

.kate-os-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 480px;
  overflow: hidden;
}

/* reset */
.kate-os-screen button {
  border: none;
  background: none;
  outline: none;
  text-align: left;
  font-family: var(--font-family-sans);
  color: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.kate-ui-button {
  white-space: nowrap;
}

/* #Screen: Logo */
.kate-os-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--color-black);
}

.kate-os-logo-image {
  font-family: var(--font-family-title);
  font-size: 128px;
  color: var(--color-white);
  opacity: 0;
  animation: kate-os-fade-in-out 2s ease-in-out;
}

/* #Screen: Home */
.kate-os-home {
  display: flex;
  flex-direction: column;
  background: var(--color-background);
  height: 100%;
  animation: kate-os-fade-in 0.25s ease-in;
}

.kate-os-carts-scroll {
  overflow: hidden;
  padding: 5px 0;
  margin-top: -5px;
  scroll-behavior: smooth;
  scroll-padding: 30px;
  padding-right: 250px;
}

.kate-os-carts {
  margin: 10px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  padding-right: 800px;
}

.kate-os-carts-box {
  width: 200px;
  height: 380px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kate-os-carts-image {
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0px solid transparent;
  transition: all 0.1s ease-out;
  border: 1px solid var(--color-border);
}

.focus .kate-os-carts-box .kate-os-carts-image {
  outline: 5px solid var(--color-primary);
  border: 2px solid transparent;
  transform: scale(1.04);
}

.kate-os-carts-image img {
  width: 100%;
  height: auto;
}

.kate-os-carts-title {
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  white-space: nowrap;
  opacity: 0;
}

.focus .kate-os-carts-box .kate-os-carts-title {
  opacity: 1;
  animation: kate-os-fade-in 0.25s ease-out;
}

/* Common widgets */
/* #Widget: title bar */
.kate-ui-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 18px;
  height: 64px;
}

.kate-ui-title-bar-child {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.kate-ui-title-bar-child:first-child {
  justify-content: left;
  margin-left: 16px;
}

.kate-ui-title-bar-child:last-child:not(:first-child) {
  justify-content: right;
  margin-right: 16px;
}

.kate-ui-section-title {
  font-family: var(--font-family-title);
  font-size: 36px;
  font-weight: 300;
  line-height: 1.8em;
}

/* HUDs */
.kate-hud {
  position: absolute;
}

/* #Context menu */
.kate-os-hud-context-menu {
  position: absolute;
}

.kate-os-hud-context-menu-backdrop {
  position: absolute;
  background: var(--color-backdrop);
  width: 800px;
  height: 480px;
  backdrop-filter: blur(5px);
}

.kate-os-hud-context-menu-content {
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 1px 0px 2px var(--color-shadow);
  background: var(--color-background);
  width: 250px;
  height: 480px;
  animation: kate-slide-in-left 0.2s ease-out;
  display: flex;
  flex-direction: column;
}

.kate-os-hud-context-menu-items {
  flex-grow: 1;
  padding: 16px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

/* #Pop menu */
.kate-hud-dialog-pop-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 480px;
  overflow: clip;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-backdrop);
  backdrop-filter: blur(2px);
  animation: kate-os-fade-in 0.25s ease-out forwards;
}

.kate-hud-dialog-pop-menu-container {
  position: absolute;
  bottom: 0px;
  background: var(--color-background);
  border-radius: 10px 10px 0 0;
  padding: 20px;
  box-shadow: 0px 0px 3px var(--color-backdrop);
  animation: kate-os-pop-menu-in 0.25s ease-out forwards;
  width: 500px;
}

.kate-hud-dialog-pop-menu.leaving {
  animation: kate-os-fade-out 0.25s ease-out forwards;
}

.leaving .kate-hud-dialog-pop-menu-container {
  animation: kate-os-pop-menu-out 0.25s ease-out forwards;
}

.kate-hud-dialog-pop-menu-title:not(:empty) {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: var(--font-family-title);
  margin-bottom: 1em;
}

.kate-hud-dialog-pop-menu-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.kate-hud-dialog-pop-menu-action {
  width: 100%;
  flex-grow: 1;
}

.kate-hud-dialog-pop-menu-action .kate-ui-button {
  border: none;
  outline: none;
  background: none;
  font-family: var(--font-sans-serif);
  font-size: 0.9rem;
  width: 100%;
  display: block;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-border);
  --focus-background: var(--color-primary);
}

.kate-hud-dialog-pop-menu-action[data-kind="primary"] {
  color: var(--color-primary);
}

.kate-hud-dialog-pop-menu-action[data-kind="dangerous"] {
  color: var(--color-dangerous);
  --focus-background: var(--color-dangerous);
}

.kate-hud-dialog-pop-menu-action .kate-ui-button.focus {
  background: var(--focus-background);
  color: var(--color-text-inverted);
  position: relative;
  z-index: 1;
}

/* #Dialog message */
.kate-hud-dialog-message {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-backdrop);
  backdrop-filter: blur(5px);
  animation: kate-os-fade-in 0.25s ease-out forwards;
}

.kate-hud-dialog-message.leaving {
  animation: kate-os-fade-out 0.25s ease-out forwards;
}

.kate-hud-dialog-container {
  background: var(--color-background);
  border-radius: 5px;
  box-shadow: 0px 0px 3px var(--color-shadow);
  max-width: 70%;
  min-width: 50%;
  overflow: hidden;
}

.kate-hud-dialog-title:empty {
  display: none;
}

.kate-hud-dialog-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: var(--font-family-title);
  border-bottom: 1px solid var(--color-border);
  padding: 0.5em;
}

.kate-hud-dialog-text {
  padding: 2em 1em;
  text-align: left;
}

.kate-hud-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  border-top: 1px solid var(--color-border);
  background: var(--color-border);
}

.kate-hud-dialog-action {
  width: 100%;
  flex-grow: 1;
}

.kate-hud-dialog-action .kate-ui-button {
  border: none;
  outline: none;
  background: none;
  font-family: var(--font-sans-serif);
  font-size: 0.9rem;
  width: 100%;
  display: block;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  --focus-background: var(--color-primary);
}

.kate-hud-dialog-action[data-kind="primary"] .kate-ui-button {
  color: var(--color-primary);
}

.kate-hud-dialog-action[data-kind="dangerous"] .kate-ui-button {
  color: var(--color-dangerous);
  --focus-background: var(--color-dangerous);
}

.kate-hud-dialog-action .kate-ui-button.focus {
  background: var(--focus-background);
  color: var(--color-text-inverted);
  position: relative;
  z-index: 1;
}

/* #Notifications */
.kate-hud-notifications {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 320px;
  max-height: 460px;
  padding: 10px;
  overflow: hidden;
  z-index: 9;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.kate-hud-notification-item {
  position: relative;
  width: 300px;
  border-radius: 5px;
  background: var(--color-background);
  backdrop-filter: blur(5px);
  animation: kate-hud-notification-in 0.2s ease-out;
  border: var(--color-border);
  box-shadow: 0px 1px 3px 1px var(--color-shadow);
}

.kate-hud-notification-item.leaving {
  animation: kate-hud-notification-out 0.1s ease-in;
  opacity: 0;
  top: -50px;
}

.kate-hud-notification-title:not(:empty) {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5em;
  padding: 0.5em 10px;
  margin-bottom: 0.8em;
  font-size: 0.8em;
  background: var(--color-border);
}

.kate-hud-notification-message {
  padding: 0 10px 10px 10px;
}

/* #Drop installer */
.kate-hud-drop-installer {
  position: absolute;
  margin: 5px;
  width: 790px;
  height: 470px;
  border: 10px dashed var(--color-border);
  border-radius: 20px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  display: none;
  background: rgba(255, 255, 255, 0.8);
}

.kate-hud-drop-installer.active {
  display: flex;
  animation: kate-os-fade-in 0.1s ease-out;
}

/* #Status bar */
.kate-hud-status-bar {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: var(--color-text-inverted);
  background: var(--color-status-background);
  border-top-left-radius: 24px;
  justify-content: right;
  align-items: center;
  padding: 0px 20px;
  max-width: 400px;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
  transition: width 0.1s ease-out;
}

.kate-hud-status-bar.active {
  display: flex;
}

.kate-hud-status-item {
  display: none;
}

.kate-hud-status-item.active {
  display: block;
}

/* #Loading screen */
.kate-hud-load-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 25px;
  background: var(--color-background);
  color: var(--color-white);
  font-size: 24px;
  font-weight: bold;
  animation: kate-os-fade-in 0.1s ease-out;
}

/* Kate UI */
.kate-os-screen .kate-ui-menu-list {
  display: flex;
  flex-direction: column;
}

.kate-ui-menu-list > .kate-ui-button {
  border-bottom: 1px solid var(--color-border);
  padding: 0 16px;
  font-size: 20px;
  height: 48px;
}

.kate-ui-menu-list > .kate-ui-button.focus {
  background: var(--color-primary);
  color: var(--color-text-inverted);
  font-weight: 500;
}

/* -- TODO -- */

/* kate UI */
/* #Kate icons */
.kate-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  color: #4f4f4f;
}

.kate-icon img {
  width: 1em;
  height: 1em;
}

.kate-icon-light img {
  filter: invert(1);
}

.kate-icon[data-name="x"],
.kate-icon[data-name="o"] {
  background: #4f4f4f;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kate-icon[data-name="x"] img,
.kate-icon[data-name="o"] img {
  width: 0.8em;
  height: 0.8em;
}

.kate-icon[data-name="ltrigger"],
.kate-icon[data-name="rtrigger"] {
  background: #4f4f4f;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kate-icon[data-name="ltrigger"]::before,
.kate-icon[data-name="rtrigger"]::before {
  font-size: 0.6em;
  font-weight: bold;
  font-family: var(--font-family-sans);
  color: #fafafa;
}

.kate-icon[data-name="ltrigger"] {
  border-top-left-radius: 0.5em;
}

.kate-icon[data-name="ltrigger"]::before {
  content: "L";
}

.kate-icon[data-name="rtrigger"] {
  border-top-right-radius: 0.5em;
}

.kate-icon[data-name="rtrigger"]::before {
  content: "R";
}

.kate-icon[data-name="menu"] {
  border: 1px solid #4f4f4f;
  height: 0.3em;
  border-radius: 0.5em;
  width: 1em;
  transform: rotate(27deg);
}

.kate-icon[data-name="capture"] {
  background: #4f4f4f;
  height: 0.3em;
  border-radius: 0.5em;
  width: 1em;
  transform: rotate(-27deg);
}

/* #Simple screens */
.kate-os-simple-screen {
  background: #fafafa;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.kate-os-text-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  white-space: pre-wrap;
  font-family: var(--font-family-mono);
}

.kate-os-padding {
  padding: 1em;
}

.kate-os-statusbar {
  height: 28px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid var(--color-border-d1);
  background: var(--color-border);
  padding: 0 16px;
  flex-shrink: 0;
}

.kate-os-statusbar .kate-ui-button {
  text-transform: uppercase;
  font-weight: bold;
}

.kate-os-statusbar .kate-icon {
  width: 16px;
  height: 16px;
  font-size: 13px;
}

.kate-os-statusbar .kate-icon[data-name="menu"],
.kate-os-statusbar .kate-icon[data-name="capture"] {
  height: 8px;
}

.kate-os-statusbar .kate-icon[data-name="ltrigger"],
.kate-os-statusbar .kate-icon[data-name="rtrigger"] {
  width: 22px;
}

.kate-ui-hbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Media screens */
.kate-os-media-status {
  font-size: 17px;
  white-space: nowrap;
}

.kate-os-scroll {
  flex-grow: 1;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.kate-os-media-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
  gap: 10px;
}

.kate-os-media-items .kate-ui-button {
  width: fit-content;
  height: fit-content;
}

.kate-os-media-items .focus {
  outline: 3px solid var(--color-primary);
  outline-offset: 1px;
}

.kate-os-media-thumbnail {
  width: 140px;
  height: auto;
  aspect-ratio: 5/3;
  overflow: hidden;
  border: 1px solid var(--color-border);
  position: relative;
}

.kate-os-media-thumbnail img {
  width: 100%;
  height: auto;
  aspect-ratio: 5/3;
  display: block;
}

.kate-os-media-thumbnail .kate-os-video-duration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 2px 10px 2px 14px;
  background: var(--color-duration-background);
  color: var(--color-text-inverted);
  border-radius: 2px;
  border-top-left-radius: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: 500;
}

.kate-os-media-fullscreen {
  height: 100%;
  width: 100%;
  position: relative;
}

.kate-os-media-fullscreen .kate-os-statusbar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  opacity: 0.95;
}

.kate-os-media-fullscreen .kate-os-statusbar:not(.visible) {
  display: none;
}

.kate-os-media-fullscreen .kate-os-media-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--color-black);
}

.kate-os-media-container img,
.kate-os-media-container video {
  width: 100%;
  height: auto;
}

.kate-os-game {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--color-black);
}
