/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.kate-os-hud-context-menu {
  position: absolute;
}

.kate-os-hud-context-menu-backdrop {
  position: absolute;
  background: var(--color-backdrop);
  width: var(--base-screen-width);
  height: var(--base-screen-height);
  backdrop-filter: blur(5px);
}

.kate-os-hud-context-menu-content {
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 1px 0px 2px var(--color-shadow);
  background: var(--color-background);
  width: 250px;
  height: var(--base-screen-height);
  animation: kate-slide-in-left 0.2s ease-out;
  display: flex;
  flex-direction: column;
}

.kate-os-hud-context-menu-items {
  flex-grow: 1;
  padding: 16px 0;
  overflow-y: auto;
  overflow-x: hidden;
}
