/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.kate-hud-drop-installer {
  position: absolute;
  margin: 5px;
  width: 790px;
  height: 470px;
  transform-origin: 0 0;
  transform: scale(var(--screen-scale));
  border: 10px dashed var(--color-border);
  border-radius: 20px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  display: none;
  background: rgba(255, 255, 255, 0.8);
}

.kate-hud-drop-installer.active {
  display: flex;
  animation: kate-os-fade-in 0.1s ease-out;
}
