/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@keyframes kate-focus-in {
  from {
    outline-width: 8px;
  }
}

@keyframes kate-ui-pop-menu-in {
  from {
    translate: -50% 100%;
    opacity: 0;
  }
  to {
    translate: -50% 0%;
    opacity: 1;
  }
}

@keyframes kate-ui-pop-menu-out {
  from {
    translate: -50% 0%;
    opacity: 1;
  }
  to {
    translate: -50% 100%;
    opacity: 0;
  }
}
