@keyframes kate-os-fade-in-out {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes kate-os-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes kate-os-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes kate-slide-in-left {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes kate-os-pop-menu-in {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes kate-os-pop-menu-out {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: -200px;
    opacity: 0;
  }
}

@keyframes kate-hud-notification-in {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes kate-hud-notification-out {
  from {
    opacity: 1;
    top: 0px;
  }
  to {
    opacity: 0;
    top: -50px;
  }
}

@keyframes kate-focus-in {
  from {
    outline-width: 8px;
  }
}
