/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

:root {
  touch-action: none;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.kate-case {
  --case-scale: 1;
  --case-downscale: 1;
  --screen-scale: 1;
  --base-screen-width: 800px;
  --base-screen-height: 480px;
  --screen-width: 800px;
  --screen-height: 480px;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  --red: #faaaaa;
  --blue: #69c;
  --grey: #e8ebecff;
}

.kate-case * {
  box-sizing: border-box;
}

.kc-body {
  user-select: none;
  scale: var(--case-downscale);
  flex-shrink: 0;
  flex-grow: 0;
}

.kc-body.scale-to-fit {
  scale: var(--case-scale);
}

.kc-screen-container {
  position: relative;
}

.kc-screen {
  position: relative;
  z-index: 1;
  width: var(--screen-width);
  height: var(--screen-height);
  background: #2f2f2f;
  outline: 2px solid #5f5f5f;
  user-select: auto;
  overflow: hidden;
  overflow: clip;
}

#kate-version {
  position: absolute;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
  width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  color: #fafafa;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
}

.kc-resources-container {
  width: calc(var(--screen-width) + 2px);
  overflow: hidden;
  height: 32px;
  position: absolute;
  top: -2px;
  right: -2px;
  z-index: 999;
  display: flex;
  justify-content: right;
}

#kate-resources {
  background: #5f5f5f;
  color: #fafafa;
  border-bottom-left-radius: 26px;
  height: 26px;
  width: min-content;
  padding: 0 8px 0 20px;
  overflow: hidden;
  border: 2px solid #5f5f5f;
  transition: padding-right 0.1s ease-out, background 0.1s ease-out;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  --rbg: #5f5f5f;
}

#kate-resources:empty {
  padding-right: 0px;
}

.trusted-mode #kate-resources {
  color: #2f2f2f;
  background: var(--red);
  border-top-color: var(--red);
  border-right-color: var(--red);
  --rbg: var(--red);
}

#kate-resources .kate-resource {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.kate-resource-screen-recording {
  background: #f21;
  border: 1px solid #fafafa;
  border-radius: 100%;
}

.kate-resource-trusted-mode {
  font-family: "Font Awesome 6 Free";
}

.kate-resource-trusted-mode::before {
  content: "\f023";
  display: block;
}

.kate-resource-transient-storage {
  font-family: "Font Awesome 6 Free";
}

.kate-resource-transient-storage::before {
  content: "\f0a0";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
}

.kate-resource-transient-storage::after {
  content: "\f017";
  display: block;
  font-size: 9px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-shadow: -1px -1px 0 var(--rbg), 0px -1px 0 var(--rbg), -1px 0 0 var(--rbg);
}

.kate-resource-low-storage {
  font-family: "Font Awesome 6 Free";
}

.kate-resource-low-storage::before {
  content: "\f0a0";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
}

.kate-resource-low-storage::after {
  content: "\f071";
  display: block;
  font-size: 9px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-shadow: -1px -1px 0 var(--rbg), 0px -1px 0 var(--rbg), -1px 0 0 var(--rbg);
}

#kate-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: end;
  padding: 2rem;
  background: #2f2f2f;
  color: #fafafa;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box;
}

/* electron */
.kc-body {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.kc-shoulder,
.kc-dpad,
.kc-screen,
.kc-button,
.kc-small-button {
  -webkit-app-region: no-drag;
}

/* running games (FIXME: move elsewhere) */
.kate-game-frame {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  overflow: clip;
}

.kate-game-frame-defaults {
  width: var(--screen-width);
  height: var(--screen-height);
}

/* image scaling */
.kate-case img {
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* handheld mode */
.kate-case[data-case-type="handheld"] .kc-body {
  width: 1040px;
  height: 490px;
  border-radius: 80px;
  background: var(--red);
  box-shadow: 0px 5px 0px #c99;
}

.kate-case[data-case-type="handheld"] #kate-version {
  transform-origin: top left;
  translate: 45px 470px;
}

.kate-case[data-case-type="handheld"] .kc-screen-container {
  position: absolute;
  transform-origin: top left;
  translate: 120px 5px;
}

.kc-shoulder {
  position: absolute;
  width: 120px;
  height: 130px;
  overflow: hidden;
  transform-origin: top left;
}

.kc-shoulder .kc-shoulder-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  background: var(--blue);
  border-radius: 20px;
  transform-origin: top left;
  transition: translate 50ms ease-out;
}

.kc-shoulder-hide {
  display: block;
  width: 240px;
  height: 240px;
  background: var(--red);
  border-radius: 80px;
  position: absolute;
  translate: 0px 0px;
  transform-origin: top left;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
}

.kc-shoulder-left .kc-shoulder-button {
  translate: 0px 0px;
}

.kc-shoulder-left.down .kc-shoulder-button {
  translate: 10px 10px;
}

.kc-shoulder-right {
  translate: 920px 0px;
}

.kc-shoulder-right.down .kc-shoulder-button {
  translate: -10px 10px;
}

.kc-shoulder-right .kc-shoulder-hide {
  translate: -120px 0px;
}

.kc-dpad {
  position: absolute;
  touch-action: none;
  transform-origin: top left;
  translate: 0px 120px;
  width: 150px;
  height: 200px;
}

.kc-dpad::before {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  touch-action: none;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #e8ebecff;
  border: 1px solid #afb2b2ff;
  translate: 10px 50px;
  box-sizing: border-box;
}

.kc-thumb {
  pointer-events: none;
  touch-action: none;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 30px;
  background: var(--blue);
  border-radius: 100%;
  box-shadow: inset 1px 1px 1px #fff, 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.kc-dpad.down .kc-thumb {
  background: #9af;
}

.kc-faces {
  position: absolute;
  transform-origin: top left;
  translate: 920px 150px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.kc-special {
  position: absolute;
  transform-origin: top left;
  translate: 0px 340px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.kc-button {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  font-size: 45px;
  line-height: 70px;
  color: transparent;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.kc-small-button {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 45px;
  color: transparent;
  background-color: #f7f1d8;
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.kc-button,
.kc-small-button {
  box-shadow: inset 1px 1px 1px #fff, 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.kc-button.down,
.kc-small-button.down {
  filter: brightness(75%);
  box-shadow: 1px 1px 1px #fff, inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.kc-berry {
  background-image: url("../img/buttons/berry.png");
}

.kc-capture {
  background-image: url("../img/buttons/capture.png");
}

.kc-menu {
  background-image: url("../img/buttons/menu.png");
}

.kc-ok {
  background-image: url("../img/buttons/ok.png");
}

.kc-cancel {
  background-image: url("../img/buttons/cancel.png");
}

.kc-sparkle {
  background-image: url("../img/buttons/sparkle.png");
}

/* tv mode */
.kate-case[data-case-type="tv"] .kc-body {
  padding: 32px;
  border-radius: 20px;
  background: var(--red);
  box-shadow: 0px 5px 0px #c99;
  box-sizing: border-box;
}

.kate-case[data-case-type="tv"] .kc-virtual {
  display: none;
}

.kate-case[data-case-type="tv"] #kate-version {
  bottom: 10px;
  right: 32px;
  font-size: 11px;
  width: max-content;
}

/* fullscreen mode */
.kate-case[data-case-type="fullscreen"] .kc-virtual {
  display: none;
}

.kate-case[data-case-type="fullscreen"] .kc-body {
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1;
}

.kate-case[data-case-type="fullscreen"] .kc-screen-container {
  width: var(--screen-width);
  height: var(--screen-height);
  outline: none;
}

.kate-case[data-case-type="fullscreen"] .kc-body.scale-to-fit .kc-screen-container {
  scale: var(--case-scale);
}

.kate-case[data-case-type="fullscreen"] .kc-resources-container {
  width: 100%;
  top: 0px;
  right: 0px;
}

.kate-case[data-case-type="fullscreen"] #kate-resources {
  border-top: none;
  border-right: none;
}

.kate-case[data-case-type="fullscreen"] #kate-version {
  display: none;
}
